* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html, body, #work-area {
    height: 100%;
}

#content{
    display: flex;
    flex-flow: column;
    height: 100%;
}

nav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-right: auto;
}

#work-area {
    display: flex;
    /* align-items: stretch; */
}

#sidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: aqua;
    width: fit-content;
}

#addBtn {
   font-size: 1rem;
   padding: .5rem; 
}

.label {
    margin-left: .5rem;
}

.source {
    font-size: 1.5rem;
    color: black;
    margin: .25rem;
    margin-top: auto;
}

#project-area {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    align-content: flex-start;
    gap: 1rem;
    padding: 0 1rem;
        

}

/* #project-area::after {
    content: "";
    flex: auto;
  } */

.card {
    display: flex;
    flex-basis: 24%;
    min-width: 0;
    background-color: goldenrod;
    border: 1px solid black;
    box-shadow: 10px 5px 5px gray;
    padding: .5rem;
}

.card-controls {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
  }

svg {
    pointer-events: auto;
}

.card-data {
    display: flex;
    flex-flow: column;
    flex: 1;
    font-size: 1.5rem;
    /* padding: .25rem; */
}

.title {
    font-size: 2rem;
    text-overflow: ellipsis;

}

/* The remove & edit buttons */
.control {
    color: lightgray;
    font-size: 1.5rem;
    font-weight: bold;
  }
    
  .control:hover,
  .control:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


footer {
    margin-top: auto;
}


